@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;

}
body {
    background-image:
    linear-gradient(to right, #FFDFB3, #967D5A,#57514A );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1b1d1f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { 
    color:#5A7F96 ;
    text-align: center;
    text-shadow: 1px 1px 2px #2f4654;
}
h2 {
    color:#FFDFB3 ;

}